# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local
./.env

# Logs
logs/
*.log
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Build outputs
dist/
build/
out/
coverage/

# React / Vite
*.local
*.cache/
*.parcel-cache/
.next/
.cache/
.eslintcache

# Misc
*.tgz
*.bak
*.swp

# TypeScript
*.tsbuildinfo

# MongoDB dump
dump/

# Uploads / temporary storage (optional if using local file uploads)
uploads/
temp/
